<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>This is my Home page. To go to the next page click on Next page button.</p>
    <!-- <a href="02_NavigateBetweenTwoHtmlPages\templates\page2.html">Next Page</a> -->
    <form action="/secondpage" method="post">
        <button type="submit">Next Page -></button>
    </form>
    
    
</body>
</html>
